.image-container {
	max-width: 700px;
	max-height: 400px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: auto;
 border-radius: 15px;
}

.hero{
	height: 80vh!important;
  }


.header-service {
	transition: all 0.5s;
	z-index: 997;
	height: 90px;
	background-color: #1f9dc4!important;
	}
  .header-service.sticked {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .header-service .logo img {
	max-height: 40px;
	margin-right: 6px;
  }
  
  .header-service .logo h1 {
	font-size: 30px;
	margin: 0;
	font-weight: 600;
	letter-spacing: 0.8px;
	color: #fff;
	font-family: var(--font-primary);
  }
  
  .header-service .logo h1 span {
	color: #f96f59;
  }
  .nav-logo{
	height: 50px;
  }
  .sticked-header-offset {
	margin-top: 70px;
  }
  
  .containerc{
	text-align: center; 
     margin-bottom: 1px;
	 width: 100%;
	background: linear-gradient(300deg,#28e28b,#ce18ce, #0e107c, #0c0c0c);
  }

  
  .element2 {
	z-index: 2;
	position: relative;
	top: -250px;
	margin-bottom: -250px;
  }

.service-img img {
  width: 50%;
}

@media (max-width: 768px) {
  .service-img img {
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .service-img img {
    visibility: hidden;
  }
}
